<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Editora</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Editora</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaEditora">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Editora..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>						
						
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>#</th>
									<th>Editora</th>	
								</tr>
							</thead>
							<tbody>
								<tr th:each="editora : ${listaEditora}">
								<form  method="GET" th:action="@{editar}">
									<td><input th:id="|check*{editora.nome}|" th:name="|check*{editora.nome}|" type="checkbox"></td>
									<td th:text="*{editora.id}">1</td>
									<td th:text="*{editora.nome}">Nome Editora</td>
									<td><button th:id="|removerEditoraId*{editora.id}|" class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#modalRemoverEditora" th:onclick="|setValorRemover(*{editora.id},'@{/editoras/remover}')|" type="button">Remover</button></td>
									<td><button class="btn btn-default btn-sm" name="id" th:value="*{editora.id}" type="submit">Editar</button></td>
								</form>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="editora/RemoverEditora :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/editora.remover.js}"></script>
	</th:block>
</body>
</html>
