<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Jornais</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Jornais</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaJornal">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
						<div class="form-row">
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar jornais..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>
						<div class="col-sm-1">
							<label for="filtro" class="form-group">Por:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" id="filtro" name="filtro">							
											<option value="titulo">Titulo</option>
											<option value="edicao">Edição</option>
											<option value="data">Data</option>
							</select>
						</div>
											
						</div>
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>Titulo do Jornal</th>
									<th>Data</th>
									<th>Edição</th>
									<th colspan="2">Ações</th>	
								</tr>
							</thead>
							<tbody>
							<form method="GET" th:action="@{editar}">
								<tr th:each="jornal : ${listaJornais}" th:id="|jornal*{jornal.id}|">
									<td><input th:id="|check*{jornal.titulo}|" th:name="|check*{jornal.titulo}|" type="checkbox"></td>
									<td th:text="*{jornal.titulo}">Titulo do jornal</td>
									<td th:text="${{jornal.data}}">Data</td>
									<td th:text="*{jornal.edicao}">Edição</td>
									<td><button th:id="|removerJornalId*{jornal.id}|" class="btn btn-danger" data-toggle="modal" data-target="#modalRemoverJornal" th:onclick="|setValorRemover(*{jornal.id},'@{/jornais/remover}')|" type="button">Remover</button></td>
									<td><button class="btn btn-default" name="id" th:value="*{jornal.id}" type="submit">Editar</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="jornal/RemoverJornal :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/jornal.remover.js}"></script>
	</th:block>
</body>
</html>
