<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Alunos</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Alunos</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaAlunos">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					<div class="form-row">
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Alunos..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>
						<div class="col-sm-1">
							<label for="filtro" class="form-group">Por:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" id="filtro" name="filtro">							
											<option value="nome">Nome</option>
											<option value="matricula">Matricula</option>
							</select>														
						</div>								
					</div>	
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>Matricula</th>
									<th>Nome</th>
									<th>Telefone</th>
									<th>Ano de Ingresso</th>
									<th>Curso</th>
									<th colspan="2">Ações</th>	
								</tr>
							</thead>
							<tbody>
							<form  method="GET" th:action="@{/alunos/editar}">
								<tr th:each="aluno : ${listaAlunos}" th:id="|aluno*{aluno.id}|">
									<td><input th:id="|check*{aluno.id}|" th:name="|check*{aluno.id}|" type="checkbox"></td>
									<td th:text="*{aluno.matricula}">Matricula</td>
									<td th:text="*{aluno.nome}">Nome do aluno</td>
									<td th:text="*{aluno.telefone}">Telefone do aluno</td>
									<td th:text="*{aluno.anoIngresso}">Ano de Ingresso</td>
									<td th:text="*{aluno.curso.nome}">Curso</td>
									<td><button th:id="|removerAlunoId*{aluno.id}|" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemoverAluno" th:onclick="|setValorRemover(*{aluno.id},'@{/alunos/remover}')|" type="button">Remover</button></td>
									<td><button class="btn btn-default btn-sm" name="id" th:value="*{aluno.id}" type="submit">Editar</button></td>
								</tr>
							</form>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="aluno/RemoverAluno :: modal"></div>
		</section>
		<th:block layout:fragment="javascript-extra">
			<script th:src="@{/javascripts/aluno.remover.js}"></script>
		</th:block>
</body>
</html>
