<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Tema</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Pesquisar Tema</h1>
			</div>
		</div>
		<div class="container-fluid">
			<section th:fragment="fragment-pesquisaTema">
				<div class="row">
				<form method="GET" class="form-vertical  js-form-loading">
					<div class="form-group col-sm-6">
							<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Tema..."/>						
					</div>
					<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
					</div>
								
				</form>
				
				<div class="container-fluid">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><input id="checktudo" name="checktudo" type="checkbox"></th>
								<th>Tema</th>
								<th>Area do Conhecimento</th>
								<th colspan="2">Ações</th>		
							</tr>
						</thead>
						<tbody>
							<tr th:each="tema : ${temas}" th:id="|tema*{tema.id}|">
							<form  method="GET" th:action="@{editar}">
								<td><input th:id="|check*{tema.nome}|" th:name="|check*{tema.nome}|" type="checkbox"></td>
								<td th:text="*{tema.nome}">Tema</td>
								<td th:text="*{tema.area.nome}">Area do conhecimento</td>
								<td><button th:id="|removerTemaId*{tema.id}|" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemoverTema" th:onclick="|setValorRemover(*{tema.id},'@{/temas/remover}')|" type="button">Remover</button></td>
								<td><button class="btn btn-default" name="id" th:value="*{tema.id}" type="submit">Editar</button></td>
							</form>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
			</section>
		</div> 
		<div th:replace="tema/RemoverTema :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/tema.remover.js}"></script>
	</th:block>
</body>
</html>
