<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Livros</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Livros</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaLivro">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar livros..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>						
						
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>ISBN</th>
									<th>Titulo do Livro</th>
									<th>Editora</th>
									<th>Data</th>
									<th>Edição</th>
									<th>Quantidade de Paginas</th>
									<th>Area do Conhecimento</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="livro : ${listaLivros}">
									<td><input th:id="|check*{livro.titulo}|" th:name="|check*{livro.titulo}|" type="checkbox"></td>
									<td th:text="*{livro.isbn}">ISBN</td>
									<td th:text="*{livro.titulo}">Titulo do livro</td>
									<td th:text="*{livro.editora.nome}">Editora</td>
									<td th:text="*{livro.data}">Data</td>
									<td th:text="*{livro.edicao}">Edição</td>
									<td th:text="*{livro.numero_paginas}">Quantidade de paginas</td>
									<td th:text="*{livro.area.nome}">Area do conhecimento</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	</section>
</body>
</html>
