<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>

<title>Cadastro de Emprestimo</title>
</head>

<body th:onLoad="|carregar('@{/}')|">
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro  de Emprestimo</h1>
			</div>
		</div>
		
		
		
		<div class="container-fluid">
		
			<th:block th:include="fragments/MensagemSucesso"></th:block>	
			
			<form method="POST" class="form-vertical  js-form-loading" th:object ="${emprestimo}">
			
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
				
				<div class="row">
					
					<div class="form-group col-sm-3" th:classappend="${#fields.hasErrors('aluno')}? has-error">
						<label for="aluno" class="control-label">Aluno</label>
						<div class="bw-field-action">
							<select id="aluno" class="form-control" th:field="*{aluno.id}" autofocus="autofocus">
								<option value="0">Selecione o Aluno</option>
								<option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"> Aluno 1</option>
							</select>
						</div>
					</div>
					<div class="form-group col-sm-2" th:classappend="${#fields.hasErrors('dataDoEmprestimo')}? has-error">
						<label for="data" class="control-label">Data de Emprestimo</label>
						<input id="data" type="date" class="form-control" th:field="*{dataDoEmprestimo}"/>
					</div>
					<div class="form-group col-sm-2" th:classappend="${#fields.hasErrors('dataDeEntrega')}? has-error">
						<label for="data" class="control-label">Data de Entrega</label>
						<input id="data" type="date" class="form-control" th:field="*{dataDeEntrega}"/>
					</div>
					<div class="form-group col-sm-2">
						<br>
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
					
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label for="autor" class="control-label">Iten(s)</label>
						<div class="content-fluid">
							<ul id="itensSelecionados" name="itensSelecionados"th:field="*{emprestimos}" >
								
							</ul>							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<div class="form-group col-sm-2">
							<input type="radio" value="livros" name="itemAcervo" onChange="selecionouCategoria()"/><label class="control-label">Livros </label>
						</div>
						<div class="form-group col-sm-2">
							<input type="radio" value="jornais"name="itemAcervo" onChange="selecionouCategoria()"/><label class="control-label">Jornais</label>
						</div>
						<div class="form-group col-sm-2">
							<input type="radio" value="anais" name="itemAcervo" onChange="selecionouCategoria()"/><label class="control-label">Anais</label>
						</div>
						<div class="form-group col-sm-2">
							<input type="radio" value="revistas" name="itemAcervo" onChange="selecionouCategoria()"/><label class="control-label">Revistas</label>
						</div>
						<div class="form-group col-sm-2">
							<input type="radio" value="tccs" name="itemAcervo" onChange="selecionouCategoria()"/><label class="control-label">Tccs</label>
						</div>
						<div class="form-group col-sm-2">
							<input type="radio" value="midias" name="itemAcervo" onChange="selecionouCategoria()"/><label class="control-label">Midias Eletrônicas</label>
						</div>
												
					</div>
					<div class="form-group col-sm-12">
						<div class="form-group col-sm-6">
							<select id="comboItens" class="form-control">
								<option value="">Selecione o item</option>
							</select>				
						    </div>
							<div class="form-group col-sm-2">
								<button class="btn btn-primary" onclick="adicionarItem()" type="button">Adicionar</button>
						</div>
					</div>
				</div>
				
			</form>
		</div>	
		<div class="container-fluid">	
			<hr>
			<!-- incluindo a pesquisa -->
			<div th:insert="emprestimo/PesquisaEmprestimo :: fragment-pesquisaEmprestimos"></div>
			
		</div>
		<div th:replace="areaConhecimento/RemoverAreaConhecimento :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/areaConhecimento.remover.js}"></script>
		<script th:src="@{/javascripts/emprestimos.js}"></script>
	</th:block>
</body>
</html>
