<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Area do Conhecimento</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Area do Conhecimento</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaEmprestimos">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Emprestimos..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>						
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>Matricula - Aluno</th>
									<th>Data de Emprestimo</th>
									<th>Data de Entrega</th>
									<th>Item( ID - Titulo )</th>
								</tr>
							</thead>
							<tbody>
								
								<tr th:each="emprestimo : ${listaEmprestimos}" th:id="|emprestimo*{emprestimo.id}|">
									<td><input th:id="|check*{emprestimo.id}|" th:name="|check*{emprestimo.id}|" type="checkbox"></td>
									<td th:text="|*{emprestimo.aluno.matricula} - *{emprestimo.aluno.nome}|">Matricula e Nome do aluno</td>
									<td th:text="*{emprestimo.dataDoEmprestimo}">Data de emprestimo</td>
									<td th:text="*{emprestimo.dataDeEntrega}">Data de entrega</td>
									<td th:if="*{emprestimo.anal}!=null" th:text="|Anal de Congresso: *{emprestimo.anal.id} - *{emprestimo.anal.titulo}|">Nome do Anal</td>
									<td th:if="*{emprestimo.livro}!=null" th:text="|Livro: *{emprestimo.livro.id} - *{emprestimo.livro.titulo}|">Nome do Livro</td>
									<td th:if="*{emprestimo.jornal}!=null" th:text="|Jornal: *{emprestimo.jornal.id} - *{emprestimo.jornal.titulo}|">Nome do Jornal</td>
									<td th:if="*{emprestimo.revista}!=null" th:text="|Revista: *{emprestimo.revista.id} - *{emprestimo.revista.titulo}|">Nome da Revista</td>
									<td th:if="*{emprestimo.tcc}!=null" th:text="|TCC: *{emprestimo.tcc.id} - *{emprestimo.tcc.titulo}|">Nome do Tcc</td>
									<td th:if="*{emprestimo.midia}!=null" th:text="|Midia Eletrônica: *{emprestimo.midia.id} - *{emprestimo.midia.titulo}|">Nome da Midia</td>
								</tr>
							
							</tbody>
						</table>
					</div>
				
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="areaConhecimento/RemoverAreaConhecimento :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/areaConhecimento.remover.js}"></script>
	</th:block>
</body>
</html>
