<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Orientador</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Orientador</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaOrientador">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Orientador..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>						
						
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>#</th>
									<th>Orientador</th>
									<th>Formação</th>	
								</tr>
							</thead>
							<tbody>
								<tr th:each="orientador : ${listaOrientador}">
									<form  method="GET" th:action="@{editar}">
										<td><input th:id="|check*{orientador.nome}|" th:name="|check*{orientador.nome}|" type="checkbox"></td>
										<td th:text="*{orientador.id}">1</td>
										<td th:text="*{orientador.nome}">Nome do Orientador</td>
										<td th:text="*{orientador.formacao}">Formação do Orientador</td>
										<td><button th:id="|removerOrientadorId*{orientador.id}|" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemoverOrientador" th:onclick="|setValorRemover(*{orientador.id},'@{/orientadores/remover}')|" type="button">Remover</button></td>
										<td><button class="btn btn-default btn-sm" name="id" th:value="*{orientador.id}" type="submit">Editar</button></td>
									</form>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="orientador/RemoverOrientador :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/orientador.remover.js}"></script>
	</th:block>
</body>
</html>
