<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de Revista</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Revista</h1>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form method="POST" th:object="${revista}"
				class="form-vertical  js-form-loading">
				<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">
					<div class="form-group col-sm-6"
						th:classappend="${#fields.hasErrors('titulo')}? has-error">
						<label for="titulo" class="control-label">Titulo da Revista</label>
						<input id="titulo" type="text" class="form-control"
							autofocus="autofocus" th:field="*{titulo}" />
					</div>
					<div class="form-group col-sm-2"
						th:classappend="${#fields.hasErrors('edicao')}? has-error">
						<label for="edicao" class="control-label">Edição</label>
						<input id="edicao" type="number" class="form-control" th:field="*{edicao}" />
					</div>
				</div>	

				<div class="row">
										
					<div class="form-group col-sm-2" th:classappend="${#fields.hasErrors('data')}? has-error">
						<label for="data_string" class="control-label">Data</label>
						<input id="data_string" type="date" class="form-control" th:field="*{data}" />
					</div>
					
					<div class="form-group col-sm-2" th:classappend="${#fields.hasErrors('num_pag')}? has-error">
						<label for="num_pag" class="control-label">Numero de paginas</label>
						<input id="num_pag" type="number" class="form-control" th:field="*{num_pag}" />
						
					</div>
					
					<div class="form-group col-sm-4"
						th:classappend="${#fields.hasErrors('editora')}? has-error">
						<label for="editora" class="control-label">Nome da Editora</label>
						<div class="bw-field-action">
							<select id="editora" class="form-control" th:field="*{editora.id}">
								<option value="0">Selecione a Editora</option>
								<option th:each="editoraSelect:${listaEditoras}" th:value="${editoraSelect.id}" th:text="${editoraSelect.nome}">Editora 1</option>
							</select>
							<div class="bw-field-action__icon">
								<a href="#" data-toggle="modal"
									data-target="#modalCadastroRapidoEditora"> <i
									class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>
				</div>	
				
				<div class="row">
						<div class="form-group col-sm-2">
							<button class="btn  btn-primary" type="submit">Salvar</button>
						</div>
				</div>
				
			</form>
		</div>
		<div class="container-fluid">			
				<hr>
				<!-- incluindo a pesquisa -->
				<div th:insert="revista/PesquisaRevista :: fragment-pesquisaRevista"></div>
		</div>
		<div th:replace="editora/CadastroRapidoEditora :: modal"></div>
		<div th:replace="revista/RemoverRevista :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/editora.cadastro-rapido.js}"></script>
		<script th:src="@{/javascripts/revista.remover.js}"></script>
	</th:block>
</body>
</html>
