<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Revistas</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Revistas</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaRevista">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					 <div class="form-row">
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar revistas..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>
						<div class="col-sm-1">
							<label for="filtro" class="form-group">Por:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" id="filtro">							
											<option>Titulo</option>
											<option>Editora</option>
											<option>Edição</option>
											<option>Data</option>
							</select>
						</div>						
					  </div>	
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>Titulo da Revista</th>
									<th>Editora</th>
									<th>Data</th>
									<th>Edição</th>
									<th>Quantidade de Paginas</th>
									<th colspan="2">Ações</th>
								</tr>
							</thead>
							<tbody>
							<form method="GET" th:action="@{editar}">
								<tr th:each="rev : ${listaRevistas}" th:id="|revista*{rev.id}|">
									<td><input th:id="|check*{rev.titulo}|" th:name="|check*{rev.titulo}|" type="checkbox"></td>
									<td th:text="*{rev.titulo}">Titulo da Revista</td>
									<td th:text="*{rev.editora.nome}">Editora</td>
									<td th:text="${{rev.data}}">Data</td>
									<td th:text="*{rev.edicao}">Edição</td>
									<td th:text="*{rev.num_pag}">Quantidade de paginas</td>
									<td><button th:id="|removerRevistaId*{rev.id}|" class="btn btn-danger" data-toggle="modal" data-target="#modalRemoverRevista" th:onclick="|setValorRemover(*{rev.id},'@{/revistas/remover}')|" type="button">Remover</button></td>
									<td><button class="btn btn-default" name="id" th:value="*{rev.id}" type="submit">Editar</button></td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="revista/RemoverRevista :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/revista.remover.js}"></script>
	</th:block>
</body>
</html>
