<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Area do Conhecimento</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Area do Conhecimento</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaAreaConhecimento">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Area do Conhecimento..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>						
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>#</th>
									<th>Area do Conhecimento</th>
									<th colspan="2">Ações</th>
								</tr>
							</thead>
							<tbody>
								
								<tr th:each="area : ${listaAreaConhecimento}" th:id="|area*{area.id}|">
								<form  method="GET" th:action="@{editar}">
									<td><input th:id="|check*{area.nome}|" th:name="|check*{area.nome}|" type="checkbox"></td>
									<td th:text="*{area.id}">1</td>
									<td th:text="*{area.nome}">Nome da Area deconhecimento</td>
									<td><button th:id="|removerAreaId*{area.id}|" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemoverAreaConhecimento" th:onclick="|setValorRemover(*{area.id},'@{/areasconhecimento/remover}')|" type="button">Remover</button></td>
									<td><button class="btn btn-default btn-sm" name="id" th:value="*{area.id}" type="submit">Editar</button></td>
								</form>
								</tr>
							
							</tbody>
						</table>
					</div>
				
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="areaConhecimento/RemoverAreaConhecimento :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/areaConhecimento.remover.js}"></script>
	</th:block>
</body>
</html>
