<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de Midia Eletrônica</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Midia Eletrônica</h1>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form method="POST" th:object="${midiasEletronicas}"
				class="form-vertical  js-form-loading">
				<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">
					<div class="form-group col-sm-6"
						th:classappend="${#fields.hasErrors('titulo')}? has-error">
						<label for="titulo" class="control-label">Titulo da Midia</label>
						<input id="titulo" type="text" class="form-control" autofocus="autofocus" th:field="*{titulo}" />
					</div>
				
				</div>	
				
				<div class="row">
					<div class="form-group col-sm-4" th:classappend="${#fields.hasErrors('tipo')}? has-error">
							<label for="tipo" class="control-label">Tipo da Midia</label>
							<select id="tipo" th:field="*{tipo}" class="form-control">
								<option value="">Selecione o Tipo</option>
								<option th:each="tipo: ${tipos}" th:value="${tipo}" th:text="${tipo.descricao}"></option>
							</select>
					</div>
		
					<div class="form-group col-sm-2" th:classappend="${#fields.hasErrors('data')}? has-error">
						<label for="data" class="control-label">Data de Gravação</label>
						<input id="data" type="date" class="form-control" th:field="*{data}" />
					</div>
					
				</div>
				
				<div class="row">
					<div class="form-group col-sm-2">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
				</div>				
					
				
			</form>
		</div>
		<div class="container-fluid">			
				<hr>
				<!-- incluindo a pesquisa -->
				<div th:insert="midia/PesquisaMidia :: fragment-pesquisaMidiaEletronica"></div>
			</div>
	</section>
</body>
</html>
