<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar Midias Eletrônicas</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Midias Eletrônicas</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaMidiaEletronica">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Midia Eletrônica..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>						
						
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>#</th>
									<th>Titulo</th>
									<th>Tipo</th>
									<th>Data de Gravação</th>	
								</tr>
							</thead>
							<tbody>
								<tr th:each="midia : ${listaMidias}">
									<td><input type="checkbox"></td>
									<td th:text="*{midia.id}">1</td>
									<td th:text="*{midia.titulo}">Titulo da midia</td>
									<td th:text="*{midia.tipo}">Tipo da midia</td>
									<td th:text="*{midia.data_gravacao}">Data de gravação</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	</section>
</body>
</html>
