<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de Anais de Congresso</title>
</head>


<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Anais de Congresso</h1>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form method="POST" class="form-vertical  js-form-loading" th:object="${anal}">

				<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">
					<div class="form-group col-sm-4" th:classappend ="${#fields.hasErrors('titulo')}? has-error">
						<label for="titulo" class="control-label">Titulo</label> <input
							id="titulo" type="text" class="form-control"
							autofocus="autofocus" th:field="*{titulo}" />
					</div>
					
					<div class="form-group col-sm-4" th:classappend ="${#fields.hasErrors('nome_congresso')}? has-error">
						<label for="congresso" class="control-label">Nome do Congresso</label> <input
							id="congresso" type="text" class="form-control"
							autofocus="autofocus" th:field="*{nome_congresso}" />
					</div>

					<div class="form-group col-sm-4" th:classappend ="${#fields.hasErrors('tipo')}? has-error">
						<label for="tipo" class="control-label">Tipo do Anal</label> <select
							id="tipo" th:field="*{tipo}" class="form-control">
							<option value="">Selecione o Tipo</option>
							<option th:each="tipo: ${tipos}" th:value="${tipo}"
								th:text="${tipo.descricao}"></option>
						</select>
					</div>
					
				</div>
				<div class="row">
					
					<div class="form-group col-sm-1" th:classappend ="${#fields.hasErrors('edicao')}? has-error">
						<label for="edicao" class="control-label">Edicao</label> <input
							id="edicao" type="number" class="form-control"
							th:field="*{edicao}" />
					</div>
					
					<div class="form-grup col-sm-2" th:classappend ="${#fields.hasErrors('data_string')}? has-error">
						<label for="data" class="control-label">Data de Publicação</label>
						<input id="data" type="date" class="form-control"
							th:field="*{data_string}">
					</div>
					<div class="form-group col-sm-2">
						<label for="uf" class="control-label">Estado</label> <select
							id="uf" class="form-control">
							<option value="uf">Selecione o estado</option>
							<option th:each="estado: ${estados}" th:value="${estado}"
								th:text="${estado}"></option>
						</select>
					</div>
					<div class="form-group col-sm-3" th:classappend ="${#fields.hasErrors('id_cidade')}? has-error">
						<label for="cidade" class="control-label">Local de Defesa</label>
						<select id="cidade" th:field="*{id_cidade}" class="form-control">
							<option value="0">Selecione a Cidade</option>
							<option th:each="cidade: ${cidades}" th:value="${cidade.Id}"
								th:text="${cidade.Nome}"></option>
						</select>
					</div>

					<div class="form-group col-sm-4" th:classappend ="${#fields.hasErrors('id_autor')}? has-error">
						<label for="autor" class="control-label">Nome do Autor</label>
						<div class="bw-field-action">
							<select id="autor" class="form-control" th:field="*{id_autor}">
								<option value="">Selecione o Autor</option>
								<option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nome}">Autor 1</option>
							</select>
							<div class="bw-field-action__icon">
								<a href="#" data-toggle="modal"
									data-target="#modalCadastroRapidoAutor"> <i
									class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>

		</div>
		<div class="container-fluid">	
			<hr>
			<!-- incluindo a pesquisa -->
			<div th:insert="anais/PesquisaAnais :: fragment-pesquisaAnais"></div>
			
		</div>
		<div th:replace="autor/CadastroRapidoAutor :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/autor.cadastro-rapido.js}"></script>
	</th:block>
</body>
</html>
