<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Cadastro de TCC</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Trabalho de Conclusão de Curso - TCC</h1>
			</div>
		</div>

		<div class="container-fluid">

			<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form method="POST" th:object="${tcc}"
				class="form-vertical  js-form-loading">
				<th:block th:include="fragments/MensagensErroValidacao"></th:block>

				<div class="row">
					<div class="form-group col-sm-8"
						th:classappend="${#fields.hasErrors('titulo')}? has-error">
						<label for="titulo" class="control-label">Titulo do TCC</label> <input
							id="titulo" type="text" class="form-control"
							autofocus="autofocus" th:field="*{titulo}" />
					</div>
					<div class="form-group col-sm-2"
						th:classappend="${#fields.hasErrors('data')}? has-error">
						<label for="data" class="control-label">Data de Defesa</label>
						<input id="data" type="date" class="form-control" th:field="*{data}"/>
					</div>
				</div>

				<div class="row">

					<div class="form-group col-sm-3"
						th:classappend="${#fields.hasErrors('autor')}? has-error">
						<label for="autor" class="control-label">Nome do Autor</label>
						<div class="bw-field-action">
							<select id="autor" class="form-control" th:field="*{autor}">
								<option value="">Selecione o Autor</option>
								<option th:each="autor: ${autores}" th:value="${autor.id}"
									th:text="${autor.nome}"></option>
							</select>
							<div class="bw-field-action__icon">
								<a href="#" data-toggle="modal"
									data-target="#modalCadastroRapidoAutor"> <i
									class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-4"
						th:classappend="${#fields.hasErrors('orientador')}? has-error">
						<label for="orientador" class="control-label">Nome do
							Orientador</label>
						<div class="bw-field-action">
							<select id="orientador" class="form-control"
								th:field="*{orientador}">
								<option value="">Selecione o Orientador</option>
								<option th:each="orientador: ${orientadores}"
									th:value="${orientador.id}" th:text="${orientador.nome}"></option>
							</select>
							<div class="bw-field-action__icon">
								<a href="#" data-toggle="modal"
									data-target="#modalCadastroRapidoOrientador"> <i
									class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>

					<div class="form-group col-sm-3"
						th:classappend="${#fields.hasErrors('tipo')}? has-error">
						<label for="tipo" class="control-label">Tipo de TCC</label> <select
							id="tipo" th:field="*{tipo}" class="form-control">
							<option value="">Selecione o Tipo</option>
							<option th:each="tipo: ${tipos}" th:value="${tipo}"
								th:text="${tipo.descricao}"></option>
						</select>
					</div>

				</div>

				<div class="row">

					<div class="form-group col-sm-4">
						<label for="uf" class="control-label">Estado</label> <select
							id="uf" class="form-control">
							<option value="uf">Selecione o estado</option>
							<option th:each="estado: ${estados}" th:value="${estado}"
								th:text="${estado}"></option>
						</select>
					</div>

					<div class="form-group col-sm-4"
						th:classappend="${#fields.hasErrors('cidade')}? has-error">
						<label for="cidade" class="control-label">Local de Defesa</label>
						<select id="cidade" th:field="*{cidade}" class="form-control">
							<option value="cidade">Selecione a cidade</option>
							<option th:each="cidade: ${cidades}" th:value="${cidade}"
								th:text="${cidade}"></option>
						</select>
					</div>

				</div>
				<div class="row">
					<div class="form-group col-sm-2">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
				</div>
			</form>
		</div>
		<div th:replace="autor/CadastroRapidoAutor :: modal"></div>
		<div th:replace="orientador/CadastroRapidoOrientador :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/orientador.cadastro-rapido.js}"></script>
		<script th:src="@{/javascripts/autor.cadastro-rapido.js}"></script>	
	</th:block>
	
</body>
</html>
