<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
<title>Pesquisar TCC</title>
</head>


<body>
	
	<section layout:fragment="conteudo">
		<div class="container-fluid">
			<div class="page-header">
				<div class="container-fluid">
					<h1>Pesquisar Trabalho de Conclusão de Curso - TCC</h1>
				</div>
			</div>
			<div class="container-fluid">
				<section th:fragment="fragment-pesquisaTcc">
					<div class="row">
					<form method="GET" class="form-vertical  js-form-loading" >
					<div class="form-row">
						<div class="form-group col-sm-6">
								<input id="busca" name="busca" type="text" class="form-control" autofocus="autofocus" placeholder="Pesquisar Trabalho de Conclusão de Curso..."/>						
						</div>
						<div class="form-group col-sm-2">
							<button class="btn btn-primary" type="submit">Pesquisar</button>
						</div>
						<div class="col-sm-1">
							<label for="filtro" class="form-group">Por:</label>
						</div>
						<div class="col-sm-2">
							<select class="form-control" id="filtro">							
											<option>Titulo</option>
											<option>Autor</option>
											<option>Orientador</option>
											<option>Tipo</option>
											<option>Cidade</option>
							</select>														
						</div>						
					</div>	
					</form>
					
					<div class="container-fluid">
						<table class="table table-striped">
							<thead>
								<tr>
									<th><input name="tudo" type="checkbox"></th>
									<th>Titulo do TCC</th>
									<th>Autor</th>
									<th>Orientador</th>
									<th>Tipo</th>
									<th>Data de defesa</th>
									<th>Cidade</th>
									<th colspan="2">Ações</th>
								</tr>
							</thead>
							<tbody>
							<form method="GET" th:action="@{editar}">
								<tr th:each="tcc : ${listaTcc}" th:id="|tcc*{tcc.id}|">
									<td><input th:id="|check*{tcc.titulo}|" th:name="|check*{tcc.titulo}|" type="checkbox"></td>
									<td th:text="*{tcc.titulo}">Titulo do Tcc</td>
									<td th:text="*{tcc.autor.nome}">Autor do Tcc</td>
									<td th:text="*{tcc.orientador.nome}">Orientador do Tcc</td>
									<td th:text="*{tcc.tipo}">Tipo do Tcc</td>
									<td th:text="${{tcc.data}}">Data de defesa</td>
									<td th:text="|*{tcc.cidade.nome}-*{tcc.cidade.uf}|">Cidade</td>
									<td><button th:id="|removerTccId*{tcc.id}|" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalRemoverTcc" th:onclick="|setValorRemover(*{tcc.id},'@{/tccs/remover}')|" type="button">Remover</button></td>
									<td><button class="btn btn-default btn-sm" name="id" th:value="*{tcc.id}" type="submit">Editar</button></td>
								</tr>
							</form>
							</tbody>
						</table>
					</div>
					
				</div>
				</section>
		   </div>
	</div>
	<div th:replace="tcc/RemoverTcc :: modal"></div>
	</section>
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/tcc.remover.js}"></script>
	</th:block>
</body>
</html>
