<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../static/stylesheets/css-login.css" th:href="@{stylesheets/css-login.css}" > 
</head>

<body>

  <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#login">Login</a></li>
        <li class="tab "><a href="#signup">Cadastrar</a></li>        
      </ul>
      
      <div class="tab-content">
        <div id="login">   
          <h1>Bem vindo!</h1>
          
          <form th:action="@{/usuarios/novo}" method="get">
          
            <div class="field-wrap">
            <label>
              Nome de Usuário<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Senha<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Esqueceu sua senha?</a></p>
          
          <button class="button button-block"/>Entrar</button>
          
          </form>

        </div>

        <div id="signup">   
          <h1>Cadastre-se</h1>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                Primeiro nome<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Sobrenome<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Endereço de email<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Senha<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block">Cadastrar</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script src='../static/javascripts/vendors/jquery.min.js' th:src='@{javascripts/vendors/jquery.min.js}'></script>
  <script  src="../static/javascripts/index.js" th:src="@{js/index.js}"></script>




</body>

</html>
